header {
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box; 
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }